(
    id: "automancy:void",
    function: Some("automancy:void"),
    models: [
        "automancy:void",
    ],
    data: ({
        "not_targeted": Bool(true),
        "default_tile": Bool(true),
    }),
)