[package]
authors = [
    "Madeline Sparkles <madeline@mouse.lgbt>",
    "Mae Rosaline <mae@maestoso.online>",
]
name = "automancy"
version = "0.1.0"
edition = "2021"
build = "build.rs"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release-bin]
inherits = "release"
lto = "fat"          # turn on Link-Time Optimizations
codegen-units = 1    # trade compile time with maximum optimization
opt-level = "z"      # optimize for size

[profile]

dev.opt-level = 3
dev.lto = "off"
release.lto = "off"


[workspace]
members = ["automancy_defs", "automancy_macros", "automancy_resources"]


[[bin]]
name = "automancy"


[workspace.dependencies]
automancy_defs = { path = "automancy_defs" }
automancy_macros = { path = "automancy_macros" }

serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }

wgpu = { version = "0.16.3" }

winit = { version = "0.28.6", features = [
    "x11",
    "serde",
], default-features = false }

egui = { version = "0.22.0", default-features = false, features = ["log"] }
egui-wgpu = { version = "0.22.0" }
egui-winit = "0.22.0"

lazy_static = "1.4.0"
anyhow = "1.0.72"
thiserror = "1.0.43"

rhai = { git = "https://github.com/rhaiscript/rhai.git", features = [
    "sync",
    "no_time",
    "no_custom_syntax",
    "no_closure",
    "no_float",
    "only_i32",
] }


[dependencies]
automancy_defs = { workspace = true }
automancy_macros = { workspace = true }

serde_json = { workspace = true }
serde = { workspace = true }

wgpu = { workspace = true }

egui = { workspace = true }
egui-wgpu = { workspace = true }
egui-winit = { workspace = true }

winit = { workspace = true }

lazy_static = { workspace = true }
anyhow = { workspace = true }
thiserror = { workspace = true }

rhai = { workspace = true }


automancy_resources = { path = "automancy_resources" }

env_logger = "0.10.0"
native-dialog = "0.6.4"
human-panic = "1.1.5"
color-eyre = "0.6"
strip-ansi-escapes = "0.2.0"

enum-ordinalize = "3.1.13"
arraydeque = "0.5.1"
fuse-rust = "0.3.1"
arboard = "3.2.0"

rand = "0.8.5"
uuid = "1.4.1"
num = "0.4.0"

toml = "0.7.4"
image = "0.24.6"
zstd = "0.12.3"

async-trait = "0.1.68"
futures = "0.3.28"
ractor = "0.9.0"
tokio = { version = "1", features = ["full"] }
rayon = "1.7.0"

[build-dependencies]
walkdir = "2.3.3"
