(
    id: "automancy:orb",
    adjacent: None,
    instructions: (
        inputs: Some([
            ("automancy:glass", 256),
        ]),
        output: [
            ("automancy:orb", 1),
        ],
    ),
)