(
    id: "silver",
    instructions: (
        inputs: Some([
            ("water", 16),
            ("order", 8),
            ("gravel", 128),
        ]),
        output: [
            ("silver", 1),
        ],
    ),
)