(
    id: "basic_assembler",
    icon: "tile/basic_assembler",
    icon_mode: Tile,
    unlocks: ["basic_assembler"],
    depends_on: None,
    name: "basic_assembler_name",
    description: "basic_assembler_desc",
    completed_description: "basic_assembler_done",
    required_items: Some([
        ("white_matter", 32),
    ]),
    attached_puzzle: Some(("puzzles/connection_puzzle", ({
        "anchors": TileMapOffsetCoord([
            ((0, 0), "red_matter"),
            ((0, 2), "green_matter"),
            ((2, 1), "blue_matter")
        ]),
        "selections": VecId([
            "red_matter",
            "green_matter",
            "blue_matter",
            "white_matter",
        ]),
        "connections": MapSetId([
            ("red_matter", ["white_matter"]),
            ("green_matter", ["white_matter"]),
            ("blue_matter", ["white_matter"]),
        ])
    }))),
)