(
    id: "basic_still",
    icon: "tile/basic_still",
    icon_mode: Tile,
    unlocks: ["basic_still"],
    depends_on: Some("basic_still"),
    name: "basic_still_name",
    description: "basic_still_description",
    required_items: Some([
        ("white_mechwork", 4),
    ]),
    attached_puzzle: Some("connection_puzzle"),
)