(
    id: "basic_still",
    icon: "basic_still",
    unlocks: ["basic_still"],
    next_researches: None,
    name: "basic_still_name",
    description: "basic_still_description",
    required_items: Some([
        ("white_mechwork", 4),
    ]),
    attached_puzzle: Some("connection_puzzle"),
)