(tile_count:58,data:({"automancy:player_inventory":Inventory(([("automancy:fire",13152),("automancy:water",1964),("automancy:air",1872),("automancy:earth",134504),("automancy:white_mechwork",353771),("automancy:network_assembly",31136),("automancy:alchemical_assembly",2062),("automancy:gray_matter",137096),("automancy:blue_matter",80012),("automancy:red_matter",271256),("automancy:green_matter",145942),("automancy:brown_matter",248),("automancy:white_matter",260700)])),"automancy:research_items_filled":SetId([]),"automancy:research_puzzle_completed":SetId([]),"core:unlocked_researches":SetId(["automancy:basic_prism","automancy:alchemical_grinder","automancy:alchemical_sieve","automancy:basic_compressor","automancy:alchemical_assembler","automancy:basic_sorter","automancy:basic_assembler","automancy:basic_mixer","automancy:alchemical_cauldron","automancy:basic_furnace","automancy:alchemical_still"])}))