(
    id: "basic_still",
    function: Some("machine"),
    model: "basic_still",
    data: ({
        "category": Id("basic_processor"),
        "scripts": VecId([
            "coal_to_fire",
            "coal_to_chaos",
            "coal_to_order",
            "dirt_to_earth",
            "sand_to_air",
            "mud_to_water",
        ]),
    }),
)