(tile_count:13,data:({"automancy:player_inventory":Inventory(([("automancy:white_mechwork",38),("automancy:white_matter",3552)])),"automancy:research_items_filled":SetId([]),"automancy:research_puzzle_completed":SetId([]),"core:unlocked_researches":SetId([])}))