(
    id: "merger",
    function: Some("merger"),
    model: "merger",
    data: ({
        "category": Id("transfer"),
        "direction_color": Color("ff4a40"),
        "default_tile": Bool(true),
    }),
)