(
    id: "splitter_left",
    function: Some("splitter_left"),
    model: "splitter_left",
    data: ({
        "category": Id("transfer"),
        "not_targeted": Bool(true),
        "default_tile": Bool(true),
    }),
)