(
    none: "<none>",
    unnamed: "<unnamed, report to the devs>",
    items: {
        "automancy:philosophers_stone": "Philosopher\'s Stone",
        "automancy:earth": "Earth",
        "automancy:silver": "Silver",
        "automancy:glass": "Glass",
        "automancy:coal": "Coal",
        "automancy:gold": "Gold",
        "automancy:air": "Air",
        "automancy:dirt": "Dirt",
        "automancy:orb": "Orb",
        "automancy:order": "Order",
        "automancy:fire": "Fire",
        "automancy:gravel": "Gravel",
        "automancy:water": "Water",
        "automancy:chaos": "Chaos",
        "automancy:mud": "Mud",
        "automancy:sand": "Sand",
    },
    tiles: {
        "automancy:node": "Node",
        "automancy:master_node": "Master Node",
        "automancy:basic_extractor": "Basic Extractor",
        "automancy:coal_mine": "Coal Mine",
        "automancy:merger": "Merger",
        "automancy:none": "None",
        "automancy:void": "Resource® Void™",
        "automancy:splitter": "Splitter",
        "automancy:copper_mine": "Copper Mine",
        "automancy:sorter": "Item Sorter",
        "automancy:small_storage": "Small Storage",
        "automancy:grass": "Grass",
        "automancy:basic_refinery": "Basic Refinery",
        "automancy:basic_still": "Basic Alchemical Still",
    },
    scripts: {
        "automancy:sand": "Sand",
        "automancy:philosophers_stone": "Philosopher\'s Stone",
        "automancy:sand_to_air": "Sand to Air",
        "automancy:silver": "Silver",
        "automancy:glass": "Glass",
        "automancy:coal": "Coal",
        "automancy:coal_to_order": "Coal to Order",
        "automancy:gold": "Gold",
        "automancy:dirt": "Dirt",
        "automancy:coal_to_chaos": "Coal to Chaos",
        "automancy:orb": "Orb",
        "automancy:mud_to_water": "Mud to Water",
        "automancy:dirt_to_earth": "Dirt to Earth",
        "automancy:gravel": "Gravel",
        "automancy:mud": "Mud",
        "automancy:coal_to_fire": "Coal to Fire",
    },
    gui: {
        "automancy:info": "Info",
        "automancy:btn_confirm": "Ok",
        "automancy:btn_exit": "Quit",
        "automancy:btn_load": "Load",
        "automancy:btn_source": "Source",
        "automancy:open_research": "Enter Research Menu",
        "automancy:options": "Options",
        "automancy:btn_fedi": "Fedi",
        "automancy:lbl_delete_map_confirm": "This will permanently delete this map. Are you sure?",
        "automancy:lbl_pick_another_name": "Please pick another name.",
        "automancy:btn_link_network": "Link Network!",
        "automancy:player_menu": "Player Menu",
        "automancy:debug_menu": "Debug",
        "automancy:delete_map": "Delete Map",
        "automancy:load_map": "Load Map",
        "automancy:tile_config_target": "Target: ",
        "automancy:btn_options": "Options",
        "automancy:time_fmt": "%x at %r",
        "automancy:tile_config_item": "Item: ",
        "automancy:tile_config": "Config",
        "automancy:player_inventory": "Player Inventory:",
        "automancy:btn_cancel": "Cancel",
        "automancy:lbl_maps_loaded": "{} maps loaded",
        "automancy:btn_new_map": "New Map",
        "automancy:btn_play": "Play",
        "automancy:btn_delete": "Delete",
        "automancy:invalid_name": "Invalid Name!",
        "automancy:lbl_amount": "Amount: ",
        "automancy:create_map": "Create Map",
        "automancy:error_popup": "Error",
        "automancy:btn_unpause": "Unpause",
        "automancy:tile_config_script": "Script: ",
        "automancy:lbl_link_destination": "(Right click to link Destination)",
    },
    error: {
        "automancy:unwritable_options": "Could not write the options.toml file! Your changes will NOT be saved.",
        "automancy:invalid_map_data": "Map {} was corrupted and could not be repaired! This session will instead be written to {}",
    },
)