(
    none: "<none>",
    unnamed: "<unnamed, report to the devs>",
    items: {
        "basic_assembly": "Basic Assembly",
        "network_assembly": "Networking Assembly",
        "philosophers_stone": "Philosopher's Stone",
        "earth": "Earth",
        "silver": "Silver",
        "glass": "Glass",
        "coal": "Coal",
        "gold": "Gold",
        "air": "Air",
        "dirt": "Dirt",
        "orb": "Orb",
        "order": "Order",
        "fire": "Fire",
        "gravel": "Gravel",
        "water": "Water",
        "chaos": "Chaos",
        "mud": "Mud",
        "sand": "Sand",
    },
    tiles: {
        "node": "Node",
        "master_node": "Master Node",
        "basic_extractor": "Basic Extractor",
        "coal_mine": "Coal Mine",
        "merger": "Merger",
        "none": "None",
        "void": "Resource® Void™",
        "splitter_left": "Splitter (Left)",
        "splitter_right": "Splitter (Right)",
        "copper_mine": "Copper Mine",
        "sorter": "Item Sorter",
        "small_storage": "Small Storage",
        "grass": "Grass",
        "basic_refinery": "Basic Refinery",
        "basic_still": "Basic Alchemical Still",
    },
    scripts: {
        "sand": "Sand",
        "philosophers_stone": "Philosopher's Stone",
        "sand_to_air": "Sand to Air",
        "silver": "Silver",
        "glass": "Glass",
        "coal": "Coal",
        "coal_to_order": "Coal to Order",
        "gold": "Gold",
        "dirt": "Dirt",
        "coal_to_chaos": "Coal to Chaos",
        "orb": "Orb",
        "mud_to_water": "Mud to Water",
        "dirt_to_earth": "Dirt to Earth",
        "gravel": "Gravel",
        "mud": "Mud",
        "coal_to_fire": "Coal to Fire",
    },
    categories: {
        "basic_producer": "Basic Producer Tiles",
        "basic_processor": "Basic Processor Tiles",
        "transfer": "Trasnfer Tiles",
        "network": "Network Tiles",
        "utility": "Utility Tiles",
    },
    gui: {
        "info": "Info",
        "open_research": "Enter Research Menu",
        "options": "Options",
        "player_menu": "Player Menu",
        "debug_menu": "Debug",
        "delete_map": "Delete Map",
        "load_map": "Load Map",
        "time_fmt": "%x at %r",
        "player_inventory": "Player Inventory:",
        "invalid_name": "Invalid Name!",
        "create_map": "Create Map",
        "error_popup": "Error",

        "tile_config": "Config",
        "tile_config_script": "Script:",
        "tile_config_script_info": "A Script is like a 'recipe' for the Tile to operate on, it specifies what the Tile consumes and what it produces.",
        "tile_config_target": "Target:",
        "tile_config_item": "Item:",

        "hint_search_script": "Filter with Script name...",
        "hint_search_item": "Filter with Item name...",

        "lbl_amount": "Amount: ",
        "lbl_maps_loaded": "{} maps loaded",
        "lbl_delete_map_confirm": "This will permanently delete this map. Are you sure?",
        "lbl_pick_another_name": "Please pick another name.",
        "lbl_link_destination": "(Click on me to start Linking, and then right click a Tile to pick Destination)",
        "lbl_cannot_place_missing_item": "You need one '{}' item\nin order to place this tile",

        "btn_fedi": "Fedi",
        "btn_link_network": "Link Network!",
        "btn_confirm": "Ok",
        "btn_exit": "Quit",
        "btn_load": "Load",
        "btn_source": "Source",
        "btn_options": "Options",
        "btn_cancel": "Cancel",
        "btn_new_map": "New Map",
        "btn_play": "Play",
        "btn_delete": "Delete",
        "btn_unpause": "Unpause",
    },
    error: {
        "unwritable_options": "Could not write the options.ron file! Your changes will NOT be saved.",
        "invalid_map_data": "Map {} was corrupted and could not be repaired! This session will instead be written to {}",
    },
)